
.dropIn {

  left: 0;
  right: 0;
  width: 100%;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
 
  overflow-y: auto;
 
  animation: dropIn 0.2s ease;
}

@keyframes dropIn {
  from {
    opacity: 0;
    transform: translateY(-88px) scale(0.30);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
