@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";

@custom-variant dark (&:where(.dark, .dark *));

.dark {
  --color-bg: #0f0f10;
  --color-text-main: #f5f5f5;
  --color-text-1: #a3a3a3;
  --color-text-2: #ffffff;
  --color-btn: #f5f5f5;
}


