@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";



html, body {
  overflow-x: hidden;
  max-width: 100%;
}
.hero-swiper .swiper-pagination {
  bottom: 9px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.hero-swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0 !important;
  border-radius: 9999px;
  background: rgba(255, 255, 255, 0.35);
  opacity: 1;
  transition: all 0.35s ease;
}

.hero-swiper .swiper-pagination-bullet:hover {
  background: rgba(255, 255, 255, 0.7);
}

.hero-swiper .swiper-pagination-bullet-active {
  width: 17px;
  background: #DB4444;
  box-shadow: 0 0 12px rgba(219, 68, 68, 0.45);
}
